.label { 
  display: flex;
  flex-direction: column;
  text-align: start;


}

.input{ 
  margin-top: 0.25rem;
  font-size:1rem;
  font-weight: bold;
  text-shadow: white;
  border-radius: 0.125rem;
  width: 20rem;
  padding: 0.25rem;
  border-width:1.3px;
  border-color: rgb(61, 61, 59);
  margin-bottom:1.75rem;
}