.label { 
  display: flex;
  flex-direction: column;
  text-align: start;
}

.input{ 
  margin: 0.25rem 0;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 0.4rem;
  width: 10rem;
  padding: 0.45rem;
  border-width:1.3px;
  border-style:solid;
  border-color: #2563eb;
  width:100%;
  box-sizing: border-box; /* helps the input to stay inside the div*/
  min-height:1.5;
}

.input:focus{
  border-width: 3px;
  border-color: #110981;
  background: #fff;
  outline: none;
}