.container {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.contentBox{
  display: grid;
  grid-template-columns: 3.5fr 6.5fr;
  column-gap: 2rem;
  grid-template-rows: 1fr;
  width: auto;
  padding: 0 1rem;
  margin: 0;
}

.leftBox, .rightBox{
  max-width: 100%;
  /* border: 1px solid red; */
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: flex-start;
}

.balanceBox{
  width: 22rem;
  height: 12rem;
  padding: auto;
}

.balances {
  margin: 2rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: 1px solid red; */
}


.balanceActions {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.buttons {
  width: 10rem;
}

