.container {
  width: 100%;
}

.balances{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin: 1rem 2.1rem 0 2.1rem;
  padding: 1rem;
}

.balanceActions{
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-center;
}

.buttons{
  width: 10rem;
}