.transactionItem {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 0;
  padding: 0.5rem;
}

.origin {
  display: flex;
  flex-direction: column;
  gap: .3rem;
  align-items: flex-start;
}

.origin>strong {
  font-size: 1.2rem;
  font-weight: 800;
  color: #333;
}

.origin>p {
  font-style: italic;
  font-weight: lighter;
}

.income,
.expense {
  font-size: 1.5rem;
  align-self: center;
}

.income {
  color: green;
}

.expense {
  color: red;
}

.date {
  font-size: 1rem;
  color: #888;
  align-self: center;
  margin: 0 1rem;
  min-width: 6.5rem; /* keeps dates aligned if you have multiple cards */
  text-align: center;
  letter-spacing: 0.5px;
}