.header{
  width: 100%;
  height: auto;
}

.header img{
    width: 2.5rem;
    height: auto;
}

.header-upper, 
.header-lower{
    display: flex;
    padding: 0.25rem 2rem;
    align-items: center;
    border: 1px solid #ddd;
    border-left: none;
    justify-content: space-between;
}

.header-lower{
    background-color: #f3f3f3;
}

.header h1{
    font-size: 1.5rem;
    margin: 0;
}

.date-display, 
.profile-button{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.date-display{
    font-size: 1rem;
    color: #555;
    border: 1px solid #ddd;
}

.date-display img{
    width: 1.5rem;
    height: auto;
    margin-right: 0.2rem;
}

.date-display p{
    margin: 0.7rem;
}

.profile-button{
    background-color: transparent;
    border: 1px solid #ddd;
    padding: 0.4rem 0.7rem;
}

.profile-button img{
    border-radius: 50%;
    width: 2.2rem;
    margin-right: 0.3rem;
}

.profile-info{
    display: flex;
    margin-left: 0.3rem;
    flex-direction: column;
    align-items: flex-start;
}

.profile-info p{
    font-size: 0.9rem;
    margin: 0;
    padding: 0;
}