.main{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.budgetOverview > h3{
  margin: 1.5rem 0;
  padding: 0 0 0 1rem;
  font-size: 1.5rem;
  color: #111827;
}

.budgetOverview{
  width: 100%;
  padding: 0 0 1.2rem 1rem;
  border-bottom: 3px solid #ddd;
}

.budgets{
  margin: 0 0 1.5rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.budgetCard{
  /* max-width: 320px; */
  padding: 1.1rem 1rem;
  background-color: #ffffff;
  border: 1px solid #e2e8f0;
  border-radius: 0.75rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  text-align: center;
  cursor: pointer;
}

.budgetCard h3 {
  margin: 0;
  color: #000000;
}

.budgetCard:hover {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.subtext {
  margin: 0 0 0 1rem;
  font-size: 0.9rem;
  color: #555;
}

.subtext span {
  text-decoration: underline;
  cursor: pointer;
}

.budgetContent{
  padding: 0 0 0 1rem;
  width: 100%;
}

.budgetContent > h2{
  padding: 0 0 0 1rem;
}

.budgetDetails{
  width: 100%;
  display: grid;
  grid-template-columns: 35% 65%;
  gap: 1.5rem;
}

/* Table styling */
table {
  width: 100%;
  border-collapse: collapse;
}

thead tr{
  display: flex;
  justify-content: space-between;
}

tr{
  display: grid;
  grid-template-columns: 6fr 4fr;
}

th {
  text-align: left;
  font-weight: 500;
  font-size: 0.9rem;
  color: #4b5563;
  padding: 0.4rem 0.6rem;
}

td {
  text-align: right;
  font-weight: 600;
  font-size: 0.95rem;
  color: #111827;
  padding: 0.4rem 0.6rem;
}

/* Row striping for readability */
tbody tr:nth-child(odd) {
  background-color: #f9fafb;
  border-radius: 6px;
}

.categoryList{
  width: 100%;
  margin-bottom: 1.5rem;
}

.budgetButtons{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.budgetButtons button{
  width: 45%;
}

.rightBox{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.overLimit{
  color: red;
} 

.normal{
  color: rgb(0, 255, 0);
}