
.main{
  display: flex;
  flex-direction: column;
  overflow: auto;
  width:100%;
  gap:1rem;
  align-items: flex-start;
}

.form{
  display: flex;
  flex-direction: column;
  width:100%;
}

.form > p { 
  margin-top: -17px;
  color:red;
  
}

.display{
  margin-left:2rem;
}